*{
    font-family: "Rethink Sans", sans-serif;
    color: rgb(255, 255, 255);
    list-style-type: none;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    background-color: #000000;
}

#container{
    width: 100%;
    height: 100%;
}

/* Navigation Bar */
#navbar{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 25%;
    position: fixed;
    border-right: #cccccc 0.5vh solid;
}

#navbar-content{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#nav-logo{
    border-bottom: #cccccc 0.5vh solid;
}

#nav-logo svg{
    width: 100%;
    height: auto;
    display: block;
    margin: 7% 7% 7% 5%;
}

#navbar ol{
    padding: 0;
    margin: 0;
    border-bottom: #cccccc 0.5vh solid;
    padding: 0px 20px 30px 32px;
    gap: 10px;
}

#navbar ol li{
    display: flex;
    flex-direction: column;         
    box-sizing: border-box;
}

/*buttons in the navigation bar*/
.nav-links, .nav-links-contact {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    justify-content: left;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
}

.nav-links .nav-links-title{
    width: 80%;
    height: min-content; 
    display: flex;
    flex-direction: row;
}

.nav-links .nav-links-title .nav-links-title-name {
    color: #000000;
    font-size: 18px;
    margin: 0px;
}

.nav-links .nav-links-title .nav-links-title-number {
    color: #575757;
    font-size: 13px;
    margin: 0px;
}

.nav-links-contact {
    padding: 0px 20px 30px 37px;
    color: #575757;
    font-size: 18px;
}

#navbar li .nav-links:hover .nav-links-title-name{
    color: #575757;
}

#navbar li .nav-links:hover .nav-links-title-number{
    color: #000000;
}

/*Content Container*/
#contentContainer{
    margin-left: 25%;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
}

/*intro image*/
#iImage{
    background-image: url("/images/iImage.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 92vh;
}

/*sparking Ideas*/
#sparky {
    border-bottom: #ffffff 0.5vh solid;
    width: 100%;
}

#sparkingIdeas{
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
    margin-left: 5vh;
}

#sparkingIdeas-title {
    width: 35%;
}

#sparkingIdeas-content{
    width: 55%;
    margin: 0% 0% 7% 5%;
}

/*about-section*/
#about-me {
    border-bottom: #ffffff 0.5vh solid;
    width: 100%;
}

#about-section{
    margin-top: 7vh;
    margin-left: 5vh;
}

#about-section p,
#about-section h1,
#about-section h2,
#about-section h3,
#about-section h4,
#about-section h5,
#about-section h6{
    margin: 0;
}

#about-section h3,
#about-section h4{
    font-style: italic;
}

#about-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

#about-title-number {
    font-size: 2.5rem;
}

#about-title-name {
    font-size: 5rem;
    font-weight: bold;
}

#about-content {
    gap: 5vh;
    margin-bottom: 7vh;
}

#changingTerm{
    margin-top: 5vh;
    margin-left: 5vh;
    width: 75%;
    height: 2.25rem;
    display: flex;
    margin: 5px 0px 10px 0px;
}

#changingTerm p{
    font-family: "Rethink Sans", sans-serif;
    font-size: 2rem;
    width: 16ch;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    flex-shrink: 0px;
}

#term{
    display: inline-block;
    border-right: 2px solid white;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*projects-section
<div id="projects">
                    <div id="projects-section">
                        <div id="projects-title">
                            <p id="projects-title-number">02</p>
                            <p id="projects-title-name">Projects</p>
                        </div>
                        <div id="projects-content">
                            <p>Here are a few projects I've worked on recently.</p>
                            <div id="project-items">
                                <div id="project-itembox">
                                    <div id="project-item-image">
                                    </div>
                                    <div class="project-item-title">
                                        <h3>Project 1</h3>
                                    </div>
                                    <div class="project-item-description">
                                        <p>A brief description of Project 1.</p>
                                    </div>
                                </div>
                                */
#projects {
    border-bottom: #ffffff 0.5vh solid;
    width: 100%;
}

#projects-section{
    margin-top: 7vh;
    margin-left: 5vh;
}

#project-items{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    margin-top: 5vh;
}


/*contact form*/
#contact {
    border-bottom: #ffffff 0.5vh solid;
    width: 100%;
}

#contact-section{
    margin-top: 7vh;
    margin-left: 5vh;
}

#contact-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

#contact-title-name {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

#contact-content {
    gap: 5vh;
    margin-bottom: 7vh;
}

#contact-details {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-detail-info {
    margin: 1vh;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-message-text {
    font-size: 1.25rem;
    font-weight: bold;
}

#contact-form-content {
    display: flex;
    flex-direction: column;
}

.form-input-field {
    margin: 0vh 2vh 2vh 0vh;
    width: 95%;
    height: 7vh;
    background-color: transparent;
    color: #ffffff;
    border: 0;
    border-bottom: 2px solid #ffffff;
    resize: none;
    outline: none;
    font-size: 100%;
}

#contact-form-submit {
    margin: 0% 0% 0% 0.24%;
}

#form-submit-button{
    margin: 2vh 2vh 2vh 0vh;
    width: 95%;
    height: 7vh;
    color: #000000;
    border: 0;
    border-bottom: 2px solid #ffffff;
    outline: none;
    font-size: 100%;
}

#message{
    height: 15vh;
}


/*footer
#bottomB{
    width: 100%;
    height: 7%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

    bottom: 0px;
    font-size: larger;
    font-weight: bold;
    box-shadow: -10px -10px 15px 15px rgba(61, 61, 61, 0.3);
}

#bottomB #copy{
    width: 50%;
    color: #000000;
    margin-top: 0.5%;
    margin-left: 2%;
}

#bottomB #connect{
    width: 45%;
    display: flex;
    margin-top: 0.5%;
}

#bottomB p{
    color: #000000;
    margin-top: 1%;
}

#bottomB #connect img{
    width: 5vh;
    height: 5vh;
    margin-left: 2vh;
    border-radius: 50%;
}

#bottomB #connect img:hover{
    box-shadow: 0px 0px 10px #000;
}

#contact{
    margin-left: 5vh;
    width: 50%;
}

#connectM{
    margin-left: 2vh;
}
*/